*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif; */
}
#container
{

    width: 100%;
    /* height: 100vh; */
    position: relative;
}
nav{
margin-left: 100px;
display: flex;
justify-content:space-between;
align-items: center;
    
}
#logo{
    width: 100px;
   margin-top: 20px;
   border-radius: 15px;
   border-color: rgb(136, 174, 207);
}
.listitem{
    list-style: none;
    display: inline;
   margin: 0px 40px;
   
}
.link{
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: black;
}
.link:hover{
    text-decoration: wavy;
    text-decoration: underline;
    color: rgb(106, 17, 72);
}
#home
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeleft{

   
    background: radial-gradient(circle, lightpink 0%, white 100%);
  border-radius: 20px; /* rounded corners */
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
    /* display:inline-block; */
    margin: 8% 8% 0px 8%;
    width: 800px;
    height: 700px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.namepart{
    display: flex;
    justify-content: center;
    align-items: center;
}
#username{
    font-family: "Great Vibes", cursive;
    font-size: 70px;
}
#web{
    font-size: 1.2rem;
    margin-top: 5px;
}
.resume{
    text-decoration:none;
     background-color: rgb(144, 5, 104);
   display:inline-block;
    margin-left: 140px;
    margin-top: 1.9rem;
    width: 90px;
    height: auto;
    color: white;
    padding: 10px;
    border-radius: 10px;
   align-items: center;
}
.resume:hover{
  
    animation: blink 3s;

}
@keyframes blink{
 0%{
    transform:scale(1.2);
 }
 50%{
    transform: scale(1.2);
 }
 100%{
    transform: scale(1.2);
 }
}

.homeright
{
background: radial-gradient(circle, lightpink 0%, white 100%);
  border-radius: 20px; /* rounded corners */
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
    /* display:inline-block; */
    margin: 8% 8% 0px 8%;
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction:row;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding: 20px;
    overflow: hidden; */
}
.girl{
    width: 100%;
    height: auto;
    object-fit: contain;
  
}
#welcome
{
    max-width: 35%;
    font-size: 1.8rem;
    line-height: 1.5;
    margin-left: 50px;
    font-weight: 600;
  
}
.girlcontainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550%;
    margin-right: 30px;
}
.aboutme {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 8% 8% 0 8%;
    background: radial-gradient(circle, lightpink 0%, white 100%);
    border-radius: 20px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
    height: 700px;
    padding: 200px;
    
}

.aboutcontent {
    flex: 1;
    padding-right: 40px;
}
#intro{
 margin-left: 20px;
    font-size: 3.3rem;
    font-family: "Great Vibes", cursive;
    margin-bottom: -25px;
    letter-spacing: 0.5rem;
    margin-left: -10px;
    

}
#introduction {
    margin-left: 20px;
    font-size: 3rem;
    white-space: nowrap;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.aboutpara {
    line-height: 1.6;
    max-width: 500px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9dbe8;
    font-size: 22px;
    text-align: justify;
    text-indent: 30px;
    color: #333;
    margin-top: 20px;
    font-weight: 500;
}

.aboutimg {
    /* flex: 1; */
    display: flex;
    justify-content:center;
    align-items:center;
    /* transition: all 0.8s ease; */
    gap: 0;
}

.aboutimg img {
     transition: all 0.8s ease;
    /* transition: transform 1s ease; */
      margin: 0;
    padding: 0;
}

/* Initial positions: apart */
#lap {
    transform: translateX(-50px)translateY(-30px);
    width: 150px;
}

#chair {
    transform: translate(50px);
    width: 350px;
}

/* When hover on About section: move closer */
#About:hover #lap {
    transform: translateX(0px)translateY(-30px);
}

#About:hover #chair {
    transform: translateX(0px);
}
.myskill{
      margin: 8% 8% 0 8%;
      /* border:solid;
      border-color: #ff69b4; */
      /* display: flex;
      justify-content: center;
      flex-direction: column; */

}
#skillname{
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.skillboxes{
     margin-top: 8%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap:10px;
   
}
.skillbox{

     background: radial-gradient(circle, lightpink 0%, white 100%);
     width: 300px;
     height: 80px;
     text-align: center;
     padding: 35px;
     font-weight: 600;
     font-size: 1.5rem;
}
.circles {
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.circle {
  --percent: 80;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(
    #ff69b4 calc(var(--percent) * 1%),
    #ddd 0%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  position: relative;
}
.circle span {
  position: absolute;
}

#c1 { --percent: 80; }
#c2 { --percent: 80; }
#c3 { --percent: 30; }
#c4 { --percent: 50; }
.mycontacts{

 /* display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; */
    margin: 8% 8% 0 8%;
    background: radial-gradient(circle, lightpink 0%, white 100%);
    border-radius: 20px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
    width:1400px;
    height: 300px;
    padding: 200px;
    margin-left: 550px;
   
   
}
#connect{
    font-weight: 600;
    font-size: 2.9rem;
    margin-top: -140px;
    margin-left: -100px;
    text-decoration: underline;
    text-underline-offset: 7px;
}
.cont{
    display: flex;
    flex-direction:row;
    justify-items: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    font-size: 1.5rem;
}

.iconcollection{
display: flex;
justify-content: center;
align-items: center;
margin-top: 5%;

}
.icon{

    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.brands{

    color: black;
    font-size: 2rem;
} 
.icon:hover{

    background-image:linear-gradient(to bottom right,rgb(254, 194, 110),rgb(116, 7, 78),rgb(241, 74, 191))
}
.icon:hover .brands{

    color: white;
    /* animation */
    animation: rotate 3s;
}
@keyframes rotate{
    0%{
      
  transform: rotate(45deg) scale(1.5);
    }
     30%{
        transform:rotate(-45deg) scale(-1.5);
    }
     60%{
        transform: rotate(45deg) scale(1.5) ;
    }
     80%{
        transform:rotate(-45deg) scale(-1.5);
    }
     100%{
        transform: rotate(45deg) scale(1.5);
    }
    
    

}
footer{
    margin-top: 5%;
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.uparrow{

    float: right;
    margin: -40px 20px 20px 0px;
    font-size: 50px;
}
html{
    scroll-behavior:smooth;
}
/* scroll bar color change */
::-webkit-scrollbar{
    width: 15px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
background-color: lemonchiffon;

}
::-webkit-scrollbar-thumb{

background-color: rgb(243, 141, 195);
}